@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

/*#region Header */

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 5px 15px -10px #111;
  z-index: 10;
}

.logo {
  width: 3vw;
  margin: 7px 0;
}

.logo img {
  width: 100%;
}

.item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #585858;
  text-decoration: none;
  padding: 0 24px;
}

/*#endregion Header*/

.container {
  padding-top: 3.9vw;
}

/*#region SECTION 1 */

.section-1 {
  max-width: 57.7vw;
  display: flex;
  padding: 6.2vw 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
}

.section-1 .lado-direito {
  padding-right: 29px;
}

.section-1 .lado-esquerdo img {
  max-width: 471px;
  width: 100%;
}

.section-1 .lado-direito h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 47px;
  color: #383838;
  margin-bottom: 8px;
  letter-spacing: 2.1px;
}

.section-1 .lado-direito h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #585858;
  letter-spacing: 1.5px;
  padding-bottom: 17px;
}

.section-1 .lado-direito h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #585858;
  letter-spacing: 1.5px;
}

.section-1 .lado-direito p {
  padding-bottom: 17px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #383838;
  letter-spacing: 0.35px;
}

.section-1 .lado-direito button {
  background-color: #fff;
  border: 1px solid #9b6b43;
  box-sizing: border-box;
  border-radius: 4px;
  width: 212px;
  height: 47px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #9b6b43;
  margin-bottom: 16px;
}

/*#endregion SECTION 1 */

/*#region SECTION 2 */

.section-2 {
  background-color: #fbcfad;
  text-align: center;
}

.section-2 h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 47px;
  color: #383838;
  letter-spacing: 2.1px;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.slide-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.slide-content img {
  width: 75%;
}

.slide-content .lado-direito {
  padding-left: 5.2vw;
  text-align: left;
}

.slide-content .lado-direito h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 47px;
  padding-bottom: 16px;
}

.slide-content .lado-direito p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1.5px;
  color: #585858;
}

.slide-content .lado-esquerdo {
  padding-right: 5.2vw;
  text-align: right;
}

.slide-content .lado-esquerdo .preco-anterior {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-decoration-line: line-through;
  color: #585858;
  margin-bottom: 16px;
}

.slide-content .lado-esquerdo .preco-novo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 47px;
  letter-spacing: 2.1px;
  margin-bottom: 32px;

  color: #383838;
}

.slide-content .lado-esquerdo button {
  background-color: #fbcfad;
  border: 1px solid #a67851;
  box-sizing: border-box;
  border-radius: 4px;
  width: 212px;
  height: 47px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #383838;
}

.mySlides {
  display: none;
  height: 650px;
  background-size: contain;
  background-image: url("img/bg-slide.png");
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  background-color: #ffff;
  color: #383838;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 100%;
  user-select: none;
}

.next {
  right: 20px;
  padding: 5px 13px 0px 15px;
}

.prev {
  left: 20px;
  padding: 5px 15px 0px 13px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*#endregion SECTION 2 */

/*#region SECTION 3 */

.section-3 {
  padding: 4vw 0;
  text-align: center;
}

.section-3 h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 37px;
  color: #383838;
  letter-spacing: 1.46px;

  margin-bottom: 58px;
}

.section-3 .section-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  margin: 0 auto;
  max-width: 57.7vw;
}

.section-3 .lado-direito ul {
  list-style: none;
  width: 95%;
  padding: 0px;
}

.section-3 .lado-direito a:hover {
  text-decoration: none;
}

.section-3 .lado-direito li {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.6px;
  opacity: 1;
  padding: 16px 25px;
  margin: 5px 0;
  cursor: pointer;
}

.section-3 .active {
  background: rgba(176, 132, 94, 0.5) 0% 0% no-repeat padding-box;
  color: #fff !important;
  border-radius: 8px;
  opacity: 1;
}

.section-3 .imageBox {
  background: #f7f9fc 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 16px;
  opacity: 1;
  padding: 55px 39px;
  text-align: center;
}

.section-3 .imageBox img {
  width: 75%;
  max-height: 13.8vw;
}

.section-3 .buttonRegion {
  width: 100%;
  text-align: center;
  margin-top: 52px;
}

.section-3 button {
  background: #ab6b3e 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  border: none;
  padding: 12px 26px;
  min-width: 11vw;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

/*#endregion SECTION 3 */

/*#region SECTION 4 */

.section-4 {
  background-color: #fbcfad;
  padding: 4vw 0;
  text-align: center;
}

.section-4 h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #383838;
  letter-spacing: 0.95px;

  margin-bottom: 58px;
}

.section-4 .section-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  margin: 0 auto;
  max-width: 57.7vw;
}

.section-4 .card-equipe {
  display: flex;
  flex-direction: column;

  padding: 18px 32px;

  background: #ffffff;
  border: 1px solid #ecedef;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  margin: 0 40px;
}

.section-4 .card-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #383838;
  margin: 12px 0;
}

.section-4 .card-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  color: #383838;
  letter-spacing: 0.95px;
  margin-bottom: 20px;
}

.section-4 .section-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  margin: 0 auto;
  max-width: 57.7vw;
}

.section-4 .card-social {
  display: flex;
}

.section-4 .card-social img {
  max-width: 35px;
}

.section-4 .card-equipe img {
  width: 100%;
}

/*#endregion SECTION 4 */

/* SECTION 5 */

.section-5 {
  padding: 4vw 0;
  text-align: center;
}

.section-5 h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 37px;
  color: #383838;
  letter-spacing: 0.95px;
  margin-bottom: 58px;
}

.section-5 h1 svg {
  margin-left: 9%;
}

.section-5 .about-us {
  display: flex;
  margin: 0 auto;
  max-width: 57.7vw;
}

.section-5 .about-us .img-wrapper {
  background: #f7f9fc 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 16px;
  opacity: 1;
  padding: 15px 39px;
  text-align: center;
}

.section-5 .about-us .img-wrapper img {
  width: 90%;
}

.section-5 .about-us h3 {
  font-family: "Poppins", sans-serif;
  align-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #383838;
  margin: 0 auto;
  text-align: justify;
  padding: 0 3vw;
}

/*#endregion SECTION 5 */

/* SECTION 6 */

.section-6 {
  background-color: #fbcfad;
  padding: 4vw 0;
  text-align: center;
}

.section-6 .section-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  margin: 0 auto;
  max-width: 57.7vw;
}

.section-6 .lado-esquerdo {
  margin-top: 5%;
}

.section-6 .lado-esquerdo h1 {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 47px;
  color: #383838;

  margin-bottom: 8px;
}

.section-6 .lado-esquerdo h2 {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #585858;
}

.section-6 .lado-direito form {
  background: #ffffff;
  border-radius: 16px;
  padding: 30px 64px;
  margin-left: 30px;
}

.section-6 .lado-direito form .title-form h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #383838;
  margin-bottom: 25px;
}

.section-6 .lado-direito .flex-row {
  margin-bottom: 8px;
}

.section-6 .lado-direito form label {
  width: 100%;
  float: left;
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #383838;
  margin-bottom: 9px;
}

.section-6 .lado-direito form input {
  width: 100%;
  padding: 0 15px;
  font-size: 15px;
  min-height: 47px;
  background: #ffffff;
  border: 1px solid #707070;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.section-6 .lado-direito form textarea {
  width: 100%;
  resize: none;
  padding: 15px;
  min-height: 200px;
  background: #ffffff;
  border: 1px solid #707070;
  box-sizing: border-box;
  border-radius: 8px;
}

.section-6 .lado-direito form button {
  background-color: #fbcfad;
  border: 1px solid #a67851;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 13px;
  width: 250px;
  height: 52px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #383838;
}

/*#endregion SECTION 6 */

/* SECTION FOOTER */

.footer {
  padding: 20px 0 50px 0;
  text-align: center;
}

/*#endregion FOOTER */

/* GLOBAL */

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}
